.fContainer {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height:60px;
    background-color: #6096B4;
}

 .brand{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

  .firstname{
    color: white;
    font-weight: 700;
}


 .lastname{
    color: #435585;
    font-weight: 400;
    padding-left: 4px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 10px;

}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
}

#search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #6096B4;
    border-radius: 3px 0 0 3px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6096B4;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    
}

#search-btn a:hover {
    color: grey;
    transition: all .6s ease_in-out
}


 .container1{
    padding: 10px 20px;
    font-size: 20px;
    height: 60px;
    weight: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #93BFCF;

    }
body .navigasi{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    padding: 10px;
}

.active .menu{
    display: inline-block;
    padding: 20px 20px;
    color: #6096B4;
    text-decoration: none;
}

    .container1 > a:not(:last-child) {
        margin-right: 15px;
    }

 .active{
    justify-content: flex ;
    align-items: right;
}

 .home a:hover{
    color: #EEE9DA;
    transition: all .6s ease_in-out
}

.active {
    background-color: #6096B4;
    color: white !important;
    padding: 10px;
    display: flex;
    display: inline-block;
}

 .dropdown  a:hover {background-color: #EEE9DA}

   .dropdown:hover  {
    display: block;
   }
   
/*
.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 20px;
   }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
   }

 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   }

  body nav .navigasi .dropdown .active .dropdown-content a:hover {background-color: grey}

   .dropdown:hover .dropdown-content {
    display: block;
   }
   
   .dropdown:hover .active {
    background-color: #6096B4;
   } 
   */

body{
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-color: rgba(12, 13, 14, var(-bg-opacity));
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   }
   
   .hero-content {
    color: rgba(255, 255, 255, 0.9);
    z-index: 20;
   }
   
   .max-w-md {
    max-width: 28rem;
   }
   
   .mb-5 {
    margin-bottom: 1.25rem;
   }
   
   .text-5xl {
    font-size: 3rem;
    line-height: 1;
   }
   
   .font-bold {
    font-weight: 700;
   }
   
   .btn-primary {
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    background-color: #6096B4;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
   }

     .btn-primary a {
    color: #557A46;
    display: block;
   }

    .btn-primary a:hover {
    color: #557A46;
    transition: all .6s ease_in-out
}
   
#menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 300px;
}

/* #choose{
 display: flex;
 overflow: hidden;
 scroll-snap-type: x mandatory;
 gap: 4px;
    height: 140px;
    width: 100%;
    padding: 10px;
    background-color:black;
    color:black;
    border-radius: 0.5rem;
}

.carousel {
    flex: 0 0 auto;
 scroll-snap-align: start;
 width: 100%;
 height: 100%;
}

.carousel-item :: before {
    content: "";
 flex: 0 0 100%;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0;
 background: linear-gradient(to right, transparent, #000 50%, transparent 100%);
 z-index: 2;
 pointer-events: none;
}
*/

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
   }
   
   .carousel-item {
    position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 0.5s ease;
   }
   
   .slide img {
    width: 400%;
    height: 100%;
    display: flex;
   }
   
   .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
   }

   .prev {
    left: 0;
   }
   
   .next {
    right: 0;
   }


footer{
    gap: 4px;
    height: 140px;
    width: 100%;
    padding: 10px;
    background-color:#6096B4;
    color:black;
    text-align: center;
    border-radius: 0.5rem;
    clear: both;
}

footer .grid1{
    display: grid;
    grid-template-row: repeat(autofit, minmax(200px, 1fr));
    gap:4px;
}

footer .grid1 a:hover{
    color: inherit;
    text-decoration: none;
    color: #BDCDD6;
    transition: all .6s ease_in-out
}

footer .grid2{
    color: #BDCDD6;
    padding-top: 10px;
    width:24;
    height:24;
    
}

footer .grid2 a:hover{
    color: #BDCDD6;
    text-decoration: none;
    color: blue;
    transition: all .6s ease_in-out
}